* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    flex-direction: column;
    width: 150px;
    border: 1px solid #ddd;
    background-color: rgb(21, 61, 59);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.dropdown-content a {
    display: block;
    text-align: center;
    color: rgb(255, 255, 255);
    border: 1px solid bisque;
    text-decoration: none;
    padding: 15px 25px;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: rgb(30, 83, 63);
    font-size: 17px;
}

.dropdown:hover .dropdown-content {
    display: flex;  
}
.dropdown:hover{
    cursor: pointer;
}
.dropdown span a{
    text-decoration: none;
    color: black;
}
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 4%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #dcf8ef;
    box-shadow: 0px 0px 5px rgba(18, 156, 190, 0.5);
}
header h1{
    font-size: 1.4em;
}

nav {
    display: flex;
}

nav .dropdown {
    margin: 10px;
}

.dropdown span {
    font-weight: bold;
    font-size: large;
}

.sec1 {
    background-color: #dcf8ef;
    height: 100vh;
    width: 100%;
}

.sec1 .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6% 8%;
    margin-top: 100px;
}

.main .con1 {
    margin-top: 50px;
    width: 50%;
}

.sec1 .main h4 {
    color: #056101;
    font-size: x-large;
    margin: 5px;
}

.sec1 .main h1 {
    font-size: 50px;
    margin: 5px;
}

.sec1 .main p {
    font-size: x-large;
    margin: 5px;
}
.menu{
    display: none;
}
.menu-list{
    background-color: black;
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    color: white;
    transition: 0.6s ease;
    transition-property: left;
    left: -80%;
    overflow: scroll;
    z-index: 2;
}
.menu-list.active{
    left: 0%;
}
.menu-list h3{
    padding-left: 10px;
    font-weight: 600;
    margin-top: 20px;
}
.menu-list .menu-con{
    margin-top: 50px;
}
.menu-list p{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 5px;
}
.menu-list a{
    text-decoration: none;
    color: white;
    display: block;
    line-height: 50px;
    
}
.menu-list .sub-menu-home .home{
    line-height: 25px;
}
.menu-list .sub-menu .sidebar-icon, .menu-list .sub-menu1 .sidebar-icon, .menu-list .sub-menu2 .sidebar-icon{
    position: absolute;
    right: 10px;
    transition: 0.1s ease;
}
.menu-list .sub-menu-list, .menu-list .sub-menu-list1, .menu-list .sub-menu-list2{
    margin-top: 10px;
    background-color: rgb(20, 19, 19);
    overflow: hidden;
    padding-left: 30px;
    position: relative;
    transition: 0.6s ease;
    left: -100%;
}
.sub-menu-list.active, .sub-menu-list1.active, .sub-menu-list2.active{
    left: 0%;
}
.menu-list .sub-menu-list:not(.active), .menu-list .sub-menu-list1:not(.active), .menu-list .sub-menu-list2:not(.active){
    display: none;
}
.sub-menu .sub-menu-icon.rotate, .sub-menu1 .sub-menu-icon1.rotate, .sub-menu2 .sub-menu-icon2.rotate{
    transform: rotate(90deg);
}
.mob-nav{
    position: fixed;
    top: 85px;
    background-color: black;
    color: white;
    width: 100%;
    overflow-x: scroll;
    display: none;
}
.mob-nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.mob-nav ul li{
    list-style-type: none;
    font-weight: bold;
}
.mob-nav ul #mob-nav-icon{
    padding:10px 20px;

}
.mob-nav ul li a{
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    display: block;
    padding:7px 20px;
}
.mob-nav ul li .active{
    background-color: #dcf8ef;
    color: black;
    border: 5px solid black;
    border-radius: 10px;
}
.sec2,
.sec3,
.sec4,
.sec5 {
    width: 100%;
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.exa {
    width: 450px;
    border: 1px solid black;
    background-color: rgb(223, 228, 231);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
    padding: 20px;
}

.sec2 {
    background-color: #e4c7ba;

}

.sec3 {
    background-color: #cddfb6;

}

.sec4 {
    background-color: #c0e0de;

}

.sec5 {
    background-color: #c1c4e4;

}

.html-con,
.css-con,
.js-con,
.python-con {
    width: 25%;
    text-align: center;
}

.html-con h1,
.css-con h1,
.js-con h1 {
    font-weight: bold;
    font-size: 80px;
}
.python-con h1{
    font-weight: bold;
    font-size: 50px;
}

.html-con p,
.css-con p,
.js-con p,
.python-con p {
    font-weight: bold;
    margin-top: 20px;
    letter-spacing: 1px;

}

.html-con a,
.css-con a,
.js-con a,
.python-con a {
    padding: 15px 40px;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.html-con .b1,
.css-con .b1,
.js-con .b1,
.python-con .b1 {
    background-color: rgb(35, 117, 39);
}

.html-con .b2,
.css-con .b2,
.js-con .b2,
.python-con .b2 {
    background-color: rgb(39, 46, 40);
}

.html-con .b1:hover,
.css-con .b1:hover,
.js-con .b1:hover,
.python-con .b1:hover {
    background-color: rgb(22, 75, 25);
}

.html-con .b2:hover,
.css-con .b2:hover,
.js-con .b2:hover,
.python-con .b2:hover {
    background-color: rgb(19, 24, 20);
}

.code {
    line-height: 1.5em;
    letter-spacing: 2pxem;
    box-shadow: 0px 0px 5px rgba(250, 254, 255, 0.5);
    padding: 20px;
    background-color: black;
    margin-top: 20px;
}

.code .ot,
.ct,
.dark {
    color: rgb(175, 163, 163);
}

.code .tags {
    color: rgb(0, 195, 255);
}

.code .code-con {
    color: white;
}

.code .pro {
    color: #e4c7ba;
}

.code pre {
    display: inline;
}

.code .att {
    color: #9ccee6;
}

.code .fun {
    color: rgb(114, 207, 121);
}

footer {
    background-color: rgb(21, 27, 34);
    color: white;
    padding: 30px 4%;
}

.foot {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.foot a {
    text-decoration: none;
    color: rgb(184, 182, 182);
    font-weight: 600;
}

.foot a:hover {
    color: white;
}

.foot p {
    margin-top: 20px;
}

footer #copyright {
    text-align: center;
    margin-top: 100px;
}
/* html styles */
.htmlpage{
    background-color: #e8fcf6;
}
.topics{
    position: fixed;
    margin-top: 110px;
    width: 300px;
    height: 83vh;
    float: left;
    background-color: #e8fcf6;
    overflow-y: scroll;
}
.topics a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 40px;

}
.topics .active{
    background-color: green;
    color: white;
}
.topics a:hover:not(.active){
    background-color: rgb(255, 255, 255);
}
.topics h2{
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: 200;
}
.tutorial{
    width: 70%;
    padding-top: 150px;
    margin-left: 330px;
}
.tutorial h1{
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 25px;
}
.tutorial h2{
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 25px;
}
.tutorial .example h2{
    margin-top: 0px;
}
.tutorial ul{
    margin-left: 50px;
}
.tutorial li{
    margin-top: 10px;
}
.example{
    width: 75%;
    border: 1px solid black;
    background-color: rgb(223, 228, 231);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin-top: 30px;
}
.tutorial #exampleoutput{
    margin-top: 10px;
}
.tutorial img{
    width: 100%;
}
.tutorial span{
    font-size: 20px;
}
.tutorial .tsym{
    color: gray;
}
.tutorial .tcon{
    color: blue;
}
.tutorial p{
    margin-bottom: 10px;
    margin-top: 10px;
    letter-spacing: 1px;
    font-size: 16px;
}
.structure , .headstructure, .bodystructure, .titlestructure{
    border: 1px solid black;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tutorial table,th,td{
    border: 1px solid black;
    padding: 20px 40px;
    border-collapse: collapse;
}
.tutorial .but a{
    text-decoration: none;
    display: inline-block;
    background-color: green;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bold;
}
.tutorial .but{
    margin-top: 50px;
    padding: 20px;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
}
.tutorial .first-but{
    justify-content: end;
}
footer .tuto-foot, footer .copy{
    margin-left: 200px;
}

.dark-theme{
    background-color: rgb(19, 18, 18);
    color: white;
}
.dark-code{
    color: yellow;
}
@media (max-width:1200px) {
    .mob-nav{
        display: block;
    }
    .sec1 .main h1 {
        font-size: 30px;
    }

    .main {
        display: flex;
        flex-wrap: wrap;
    }

    .main .con1,
    .main .con2 {
        width: 100%;
    }

    .main .con2 img {
        width: 90%;
        height: 260px;

    }

    header nav {
        display: none;
    }

    .menu{
        display: block;
    }

    .html-con,
    .css-con,
    .js-con,
    .python-con {
        width: 100%;
    }

    .exa {
        margin-top: 20px;
    }

    .foot .tuto,
    .foot .iq, .foot .comp {
        width: 100%;
    }

    .foot .iq, .foot .comp {
        margin-top: 20px;
    }
    .htmlpage .topics{
        margin-top: 127px;
        padding-top: 10px;
        width: 60%;
        transition: 0.5s ease;
        left: -60%;
    }
    .htmlpage .topics.active{
        left: 0%;
    }
    .mob-nav li p{
        padding: 0px;
    }
    .tutorial .example{
        width: 100%;
    }
    .tutorial{
        width: 95%;
        margin-left: 10px;
    }
    .tutorial ul{
        margin-left: 20px;
    }
    .tutorial h1, .tutorial h2{
        font-size: 26px;
        font-weight: bold;
    }
    footer .tuto-foot, footer .copy{
        margin-left: 0px;
    }
}